.actions-overlay {
  .custom-overlay {
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.actions-dialog {
  transition: 550ms ease-in-out;
  padding: 10px;
  width: 100%;
  .sections-name {
    margin: 16px 0 9px;
  }
  &__bottom-part {
    transform: translateY(25px);
  }
  &__table-card {
    padding: 20px 25px;
    background: linear-gradient(116.01deg, #feca57 -5.11%, #d8922a 107.75%);
    border-radius: 24px;
    width: 100%;
    table {
      width: 100%;
      th {
        color: rgba(0, 0, 0, 0.4);
      }
      td {
        color: #000;
      }
    }
  }
  &__show-section {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.49) 0%,
      rgba(255, 255, 255, 0.33) 100%
    );
    border-radius: 12px;
    width: 100%;
    min-height: 50px;
    padding: 10px;
    .v-input__slot {
      background: rgba(255, 255, 255, 0.37) !important;
    }
  }
  &.show {
    opacity: 1;
    pointer-events: all;
    .actions-dialog__table-card {
      animation: table 450ms ease-in-out forwards;
    }
    .actions-dialog__bottom-part {
      animation: table 450ms ease-in-out forwards;
      animation-delay: 150ms;
    }
  }
  &.hidden {
    opacity: 0;
    pointer-events: none;
    .actions-dialog__bottom-part {
      transform: translateY(0);
    }
  }
}

.sections-name {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

@keyframes table {
  0% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(0);
  }
}
