$text-border-white: -1px -1px 0px #ffffff, 0px -1px 0px #ffffff,
  1px -1px 0px #ffffff, -1px 0px 0px #ffffff, 1px 0px 0px #ffffff,
  -1px 1px 0px #ffffff, 0px 1px 0px #ffffff, 1px 1px 0px #ffffff,
  /* second layer at 2px */ -2px -2px 0px #ffffff, -1px -2px 0px #ffffff,
  0px -2px 0px #ffffff, 1px -2px 0px #ffffff, 2px -2px 0px #ffffff,
  2px -1px 0px #ffffff, 2px 0px 0px #ffffff, 2px 1px 0px #ffffff,
  2px 2px 0px #ffffff, 1px 2px 0px #ffffff, 0px 2px 0px #ffffff,
  -1px 2px 0px #ffffff, -2px 2px 0px #ffffff, -2px 1px 0px #ffffff,
  -2px 0px 0px #ffffff, -2px -1px 0px #ffffff;
$text-border-green: -1px -1px 0px #3f811d, 0px -1px 0px #3f811d,
  1px -1px 0px #3f811d, -1px 0px 0px #3f811d, 1px 0px 0px #3f811d,
  -1px 1px 0px #3f811d, 0px 1px 0px #3f811d, 1px 1px 0px #3f811d,
  /* second layer at 2px */ -2px -2px 0px #3f811d, -1px -2px 0px #3f811d,
  0px -2px 0px #3f811d, 1px -2px 0px #3f811d, 2px -2px 0px #3f811d,
  2px -1px 0px #3f811d, 2px 0px 0px #3f811d, 2px 1px 0px #3f811d,
  2px 2px 0px #3f811d, 1px 2px 0px #3f811d, 0px 2px 0px #3f811d,
  -1px 2px 0px #3f811d, -2px 2px 0px #3f811d, -2px 1px 0px #3f811d,
  -2px 0px 0px #3f811d, -2px -1px 0px #3f811d, -3px -3px 0px #3f811d,
  -1px -3px 0px #3f811d, 0px -3px 0px #3f811d, 1px -3px 0px #3f811d,
  3px -3px 0px #3f811d, 3px -1px 0px #3f811d, 3px 0px 0px #3f811d,
  3px 1px 0px #3f811d, 3px 3px 0px #3f811d, 1px 3px 0px #3f811d,
  0px 3px 0px #3f811d, -1px 3px 0px #3f811d, -3px 3px 0px #3f811d,
  -3px 1px 0px #3f811d, -3px 0px 0px #3f811d, -3px -1px 0px #3f811d;
$bounce-transition: 350ms cubic-bezier(0, 0.82, 0.37, 1.04);
